.App {
  width: 100vw;
  height: 100vh;
}

.header {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  background-color: #f19a3e;
  color: #274c77;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 380px;
  align-items: center;
  box-shadow: 0 0 10px #000;
  border-radius: 8px;
  background-color: #274c77;
  padding: 35px;
  color: #fafaff;
  gap: 30px
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  align-items: center;
}

.header-btn {
  border: none;
  border-radius: 4px;
  width: 100px;
  height: 33px;
  font-size: 16px;
  font-weight: 500;
  color: #274c77;
  background-color: #fafaff;
}

.flex-column{
  display: flex;
  flex-direction: column;
  background-color: #f19a3e;
  border-radius: 8px;
  padding: 15px;
  cursor: pointer;
 }