.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  min-width: 380px;
  align-items: center;
  box-shadow: 0 0 10px #000;
  border-radius: 8px;
  background-color: #274c77;
  padding: 15px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  gap: 30px;
  align-items: center;
}

p,
label {
  color: #eee;
  font-size: 16px;
  font-weight: 500;
}

label {
  padding-left: 7px;
}

.q_form {
  display: flex;
  border-bottom: 1px solid #000;
}

.input {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  text-align: center;
}

.css_label {
  width: 100px;
  max-width: 90px;
  border: none;
  border-radius: 4px;
  display: block;
  height: 33px;
  padding: 0 15px 0 10px;
  margin: 0 5px 0 5px;
  font-weight: 400;
  margin: auto;
}

.input_container {
  margin: 15px 0 15px 0;
}

.your_weight {
  border: none;
  border-radius: 4px;

  width: 230px;
  height: 33px;

  padding: 0 15px 0 10px;

  font-weight: 400;
}

.your_weight:first-child {
  margin-right: 5px;
}

.your_weight:focus {
  border: none;
}

.btn {
  border: none;
  border-radius: 4px;
  width: 100px;
  height: 33px;
  font-size: 16px;
  font-weight: 500;

  color: #fafaff;
  background-color: #f19a3e;
}

.btn:hover {
  box-shadow: 0 0 10px black;
}

.result {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #eee;
  max-width: 400px;
  max-height: 350px;
  min-width: 200px;
  text-align: center;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding-right: 5px;
  overflow: auto;
}
